<!DOCTYPE html>
<html long="es">
    <head>
        <%- include('../secciones/head'); %>
    </head>
    <body>
        <main>
            <div class="container">
                <%- include('../secciones/menu') %>
            </div>
            <div>
                <h1>Softworld</h1>
                <iframe src="https://prezi.com/p/embed/k4r03ayjmphp/" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay; fullscreen" height="700" width="1024"></iframe>
                
            </div>
        </main>
    </body>
    <style>
    div{
        color: #ffffff;
    }
    body{
        text-align: center;
    }
    </style>    


</html>